<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Compassion Closet Visit Log</title>
  <meta name="description" content="Visit Log for the Compassion Closet">
  <meta name="author" content="ArgoDev">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="static/css/styles.css?v=1.0">
</head>

<body onload="selectLocation()">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Compassion Closet Visit Form</a>
    </nav>

  <form name="demo01" action='/api/visit' method="POST" class="visit-form">

    <div class="form-group">
        <label for="closetLocation">Location</label>
        <select class="form-control" id="closetLocation" name="closetLocation">
            <option>Knoxville</option>
            <option>Oak Ridge</option>
        </select>
    </div>

    <div id="timestampfield" class="hidden form-group">
        <label for="timestamp">Date/Time</label>
        <input type="text" class="form-control" id="timestamp" name="timestamp" 
                                                               aria-describedby="timestampHelp" 
                                                               placeholder="">
        <small id="timestampHelp" class="form-text text-muted">Please enter the date/time of the 
            visit</small>
    </div>
    
    <input type="hidden" id="visitType" name="visitType" value="">
    <div class="form-group">
        <button type="button" id="pickUpBtn" class="btn btn-primary btn-lg btn-block" onclick="enablePickup()">Picking Up</button>
        <button type="button" id="dropOffBtn" class="btn btn-secondary btn-lg btn-block" onclick="enableDropoff()">Dropping Off</button>
    </div>


    <div id="pickupForm" class='hidden'>
        <h2>Picking Up</h2>
        <div class="form-group">
            <label for="guardianParent">Guardian/Parent Name</label>
            <input type="text" class="form-control" id="guardianParent" name="guardianParent" aria-describedby="guardianParentHelp" placeholder="Your Name">
            <small id="guardianParentHelp" class="form-text text-muted">Please enter your name</small>
        </div>
        <div class="form-group">
            <label for="agencyConnection">Agency/Connection</label>
            <select class="form-control" id="agencyConnection" name="agencyConnection">
                <option>DCS (Knox Region)</option>
                <option>DCS (East Region)</option>
                <option>DCS (Smoky Mountain Region)</option>
                <option>DCS (Northeast Region)</option>
                <option>DCS (Upper Cumberland Region)</option>
                <option>DCS (Tennessee Valley Region)</option>
                <option>Destiny Adoption Services</option>
                <option>Bethany Christian Services</option>
                <option>Camelot</option>
                <option>Child Help</option>
                <option>Florence Crittendon</option>
                <option>Helen Ross McNabb</option>
                <option>Holston Homes</option>
                <option>Kinship</option>
                <option>OmniVision</option>
                <option>Safe Families</option>
                <option>Smoky Mountain Children's Home</option>
                <option>Tennessee Baptist Children's Home</option>
                <option>Youth Villages</option>
                <option>Adoptive Home</option>
                <option>Grandparents As Parents</option>
            </select>
        </div>

        <div class="form-group">
            <label for="numKidsServed">Number of Kids Served</label>
            <input type="number" class="form-control" id="numKidsServed" name="numKidsServed" />
        </div>
        <div class="form-group">
            <label for="zipCode">Zip Code</label>
            <input type="number" class="form-control" id="zipCode" name="zipCode" />
        </div>

        <div class="form-group">
            <label for="numGirlsServed">Number of Girls</label>
            <input type="number" class="form-control" id="numGirlsServed" name="numGirlsServed"/>
        </div>

        <div class="form-group">
            <label for="numBoysServed">Number of Boys</label>
            <input type="number" class="form-control" id="numBoysServed" name="numBoysServed"/>
        </div>

        <div class="form-group">
            <label for="childrensAges">Children's Ages (check all that apply)</label>
        </div>
        <div class="form-group">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="childrenAges0" name="childrenAges0" value="0">
                <label class="form-check-label" for="childrenAges0">0</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="childrenAges1" name="childrenAges1" value="1">
                <label class="form-check-label" for="childrenAges1">1</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="childrenAges2" name="childrenAges2" value="2">
                <label class="form-check-label" for="childrenAges2">2</label>
            </div>    
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="childrenAges3" name="childrenAges3" value="3">
                <label class="form-check-label" for="childrenAges3">3</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="childrenAges4" name="childrenAges4" value="4">
                <label class="form-check-label" for="childrenAges4">4</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="childrenAges5" name="childrenAges5" value="5">
                <label class="form-check-label" for="childrenAges5">5</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="childrenAges6" name="childrenAges6" value="6">
                <label class="form-check-label" for="childrenAges6">6</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="childrenAges7" name="childrenAges7" value="7">
                <label class="form-check-label" for="childrenAges7">7</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="childrenAges8" name="childrenAges8" value="8">
                <label class="form-check-label" for="childrenAges8">8</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="childrenAges9" name="childrenAges9" value="9">
                <label class="form-check-label" for="childrenAges9">9</label>
            </div>                                                    
        </div>
        <div class="form-group">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="childrenAges10" name="childrenAges10" value="10">
                <label class="form-check-label" for="childrenAges10">10</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="childrenAges11" name="childrenAges11" value="11">
                <label class="form-check-label" for="childrenAges11">11</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="childrenAges12" name="childrenAges12" value="12">
                <label class="form-check-label" for="childrenAges12">12</label>
            </div>    
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="childrenAges13" name="childrenAges13" value="13">
                <label class="form-check-label" for="childrenAges13">13</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="childrenAges14" name="childrenAges14" value="14">
                <label class="form-check-label" for="childrenAges14">14</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="childrenAges15" name="childrenAges15" value="15">
                <label class="form-check-label" for="childrenAges15">15</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="childrenAges16" name="childrenAges16" value="16">
                <label class="form-check-label" for="childrenAges16">16</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="childrenAges17" name="childrenAges17" value="17">
                <label class="form-check-label" for="childrenAges17">17</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="childrenAges18" name="childrenAges18" value="18">
                <label class="form-check-label" for="childrenAges18">18+</label>
            </div>
        </div>
    
        <div class="form-group">
            <label for="needsRequests">Current Needs/Prayer Requests</label>
            <textarea class="form-control" id="needsRequests" name="needsRequests" rows="3"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Send</button>
 
    </div>
    <div id="dropoffForm" class='hidden'>
        <h2>Dropping Off</h2>
        <div class="form-group">
            <label for="donorName">Name</label>
            <input type="text" class="form-control" id="donorName" name="donorName" placeholder="Your Name">
        </div>
        <div class="form-group">
            <label for="donorEmailAddress">Email address</label>
            <input type="email" class="form-control" id="donorEmailAddress" name="donorEmailAddress" aria-describedby="donorEmailHelp" placeholder="Enter email">
            <small id="donorEmailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="donorMailAddress">Mailing Address</label>
            <textarea class="form-control" id="donorMailAddress" name="donorMailAddress" rows="3"></textarea>
        </div>        

        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="sendMeUpdates" name="sendMeUpdates">
            <label class="form-check-label" for="sendMeUpdates">Send me updates about the Compassion Closet</label>
        </div>        
        <button type="submit" class="btn btn-primary">Send</button>
 
    </div>
  </form>
  </div>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" 
      crossorigin="anonymous"></script>
  <script 
      src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
          integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
          crossorigin="anonymous"></script>          <script src="static/js/scripts.js"></script>
</body>
</html>
